<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="background: lightgray; padding: 18px; margin: 8px;">Welcome to stupid coach!</div>
  <div style="padding: 18px; margin: 8px;">
    <%= yield %>
  </div>
  </body>
</html>
